.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 30px;
}


.subheading {
  padding-left: 30px;
}

.anchorlink {
  text-decoration: none;
  color: inherit;
}