@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #141414;
    padding: 0px 15px 0px 20px;
    display: flex;
    justify-content: space-between;

}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    line-height: 0.3;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

/* .nav-item:hover {
    background-color: #555;
    border-radius: 100px;
} */

.active {
    background-color: #555;
    border-radius: 100px;
}

.Navlink{
    text-decoration:none;
    color: inherit;
}


